body {

font-family: Arial;

background: linear-gradient(90deg, purple, blue);

color: white;

text-align: center;

}



.main {

display: flex;

justify-content: center;

gap: 50px;

margin-top: 40px;

}



.card {

background: white;

color: black;

padding: 20px;

width: 300px;

border-radius: 10px;

}



input {

padding: 10px;

width: 70%;

}



button {

padding: 10px;

background: orange;

border: none;

color: white;

cursor: pointer;

margin-top: 10px;

}



.console {

background: darkblue;

margin: 40px;

padding: 20px;

border-radius: 10px;

text-align: left;

}